@model IEnumerable<QTSDataManager.DB.Customer>

@{
    ViewBag.Title = "Customers";
}

<h2>Customers</h2>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td style="text-align: left">
                @Html.DisplayFor(modelItem => item.Status)
            </td>
        </tr>
    }

</table>

@Html.ActionLink("Back to List", "Ticket", new {id = ViewBag.ConcertId}, new { @class = "btn btn-default" })
